*{
    box-sizing: border-box;
}
body{
    font-family: 'Fira Code', monospace;
    margin: 0;
}
@media (prefers-color-scheme: light){
    body{
        color: black;
        background-color: white;
    }
    header, footer{
        background-color: white;
    }
}
@media (prefers-color-scheme: dark){
    body{
        color: white;
        background-color: #0d1117;
    }
    header, footer{
        background-color: #161b22;
    }
}
@media (max-width: 768px){
    article{
        flex-direction: column;
    }
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    align-items: first baseline;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0 1em;
}
header h1{
    margin-right: 0.8em;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 0 1em;
}
main{
    width: 100vw;
    height: 100%;
    padding: 6em 1em;
}
article{
    display: flex;
    justify-content: space-between;
    position: relative;
}
section, article{
    padding: 1em;
}
.sectionRow{
    display: flex;
    justify-content: space-between;
}
#mainSection{
    width: 70%;
}
aside{
    width: 30%;
}