:root{
    --padding: 1rem;
    --font-family: monospace;
}
@media (prefers-color-scheme: light){
    :root{
        --color: black;
        --background-color: white;
    }
}
@media (prefers-color-scheme: dark){
    :root{
        --color: white;
        --background-color: black;
    }
}

@media (min-width: 768px){
    main{
        width: 90%;
        flex-direction: column;
    }
}
*{
    box-sizing: border-box;
    font-family: var(--font-family);
}
table{
    width: 100%;
}
th{
    text-align: left;
}
td{
    text-align: right;
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    color: var(--color);
    background-color: var(--background-color);
}
#container{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
main{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 100%;
    padding: var(--padding);
}
article, aside{
    padding: var(--padding);
    height: 100%;
}
article{
    width: 65%;
}
aside{
    width: 35%;
}